<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	      
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<servlet-class>com.rev.servlet.FrontControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<display-name>AjaxServlet</display-name>
  	<servlet-name>AjaxServlet</servlet-name>
  	<servlet-class>com.rev.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxServlet</servlet-name>
  	<url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  
</web-app>
